<div class="jumbotron">
  <h1>Welcome <%= "#{@user.full_name}" %></h1>

  <p><%= link_to "Random Speed Exercise", code_path %></p>
  <p><%= link_to "Random Accuracy Exercise", code_path %></p>
</div>

<% if current_user.rounds.present? %>
  <div>
    <h2>Last Round</h2>
    <p>Words Per Minutes: <%= @user.rounds.last.wpm %></p>
    <p>Keystroke Accuracy: <%= @user.rounds.last.accuracy %>%</p>
    <p>Session Date: <%= @user.rounds.last.created_at %>%</p>
  </div>
<% end %>
