<div class="jumbotron">
  <h1>Welcome <%= "#{@user.full_name}" %></h1>

  <button class="btn btn-large btn-success"><%= link_to "Random Speed Exercise", user_code_path(@user, @code) %></button>
  <!--button class="btn btn-large"><%= link_to "Random Accuracy Exercise", code_path %></button-->
</div>

<div class="jumbotron">
  <h3>History</h3>
  <% if current_user.rounds.present? %>
    <% @user.rounds.each do |rounds| %>
      <div class="well">
        <p>Words Per Minutes: <%= rounds.wpm %></p>
        <p>Keystroke Accuracy: <%= rounds.accuracy %>%</p>
        <p>Session Date: <%= rounds.created_at %>%</p>
      </div>
    <% end %>
  <% else %>
    <p>No typing rounds yet</p>
  <% end %>
</div>
