<div class="jumbotron">
  <h1>Welcome <%= "#{@user.full_name}" %></h1>

  <button class="btn btn-large btn-success"><%= link_to "Random Speed Exercise", user_code_path(@user, @code) %></button>
  <!--button class="btn btn-large"><%= link_to "Random Accuracy Exercise", code_path %></button-->
</div>

<div class="jumbotron">
  <h3>History</h3>
  <% if current_user.rounds.present? %>
    <div>
      <h2>Last Round</h2>
      <p>Words Per Minutes: <%= @user.rounds.last.wpm %></p>
      <p>Keystroke Accuracy: <%= @user.rounds.last.accuracy %>%</p>
      <p>Session Date: <%= @user.rounds.last.created_at %>%</p>
    </div>
  <% else %>
    <p>No typing rounds yet</p>
  <% end %>
</div>
